@font-face {
    font-family: 'CooperHewitt';
    src: url('CooperHewitt-Medium.eot');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'CooperHewitt';
    src: url('CooperHewitt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'CooperHewitt';
    src: url('CooperHewitt-MediumItalic.eot');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'CooperHewitt';
    src: url('CooperHewitt-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'CooperHewitt';
    src: url('CooperHewitt-Light.eot');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'CooperHewitt';
    src: url('CooperHewitt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'CooperHewitt';
    src: url('CooperHewitt-LightItalic.eot');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'CooperHewitt';
    src: url('CooperHewitt-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'CooperHewitt';
    src: url('CooperHewitt-Heavy.eot');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'CooperHewitt';
    src: url('CooperHewitt-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'CooperHewitt';
    src: url('CooperHewitt-HeavyItalic.eot');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'CooperHewitt';
    src: url('CooperHewitt-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'CooperHewitt';
    src: url('CooperHewitt-Bold.eot');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'CooperHewitt';
    src: url('CooperHewitt-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'CooperHewitt';
    src: url('CooperHewitt-BoldItalic.eot');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'CooperHewitt';
    src: url('CooperHewitt-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
